nav.navbar{
  background-color: #ed7a9b !important;
  ul{
    li{
      padding: 0.5rem 1rem;
      a{
        font-size: 1.2rem;
        color: #ffffff;
        .fa-images{
          font-size: 2rem;
        }
      }
    }
  }
}